<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Teddy</title>

    @Html.Partial("~/Views/Home/Style/Default.cshtml")
</head>
<body>
    <div class="container body-content">
        @await Html.PartialAsync("~/Views/Home/Nav.cshtml")
        @RenderBody()
        @await Html.PartialAsync("~/Views/Home/Footer.cshtml")
    </div>
</body>
</html>
