<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Teddy</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="ServerCenter" asp-route-a="1" asp-route-b="9">test</a></li>
                <li><a asp-controller="ClientGame" asp-action="Index">ClientGame</a></li>
                <li><a asp-controller="ServerCenter" asp-action="Index">ServerCenter</a></li>
                <li><a asp-controller="ServerFinance" asp-action="Index">ServerFinance</a></li>
                <li><a asp-controller="ServerGame" asp-action="Index">ServerGame</a></li>
                <li><a asp-controller="ServerManager" asp-action="Index">ServerManager</a></li>
                <li><a asp-controller="ServerPassport" asp-action="Index">ServerPassport</a></li>
            </ul>
        </div>
    </div>
</nav>
